@import '~antd/dist/antd.css';

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.logo {
  height: 32px;
  margin: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgba(255, 255, 255, 0.3); */
}
.logo span {
  font-size: 16px;
  font-weight: 600;
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.antd-example-spinner {
  height: 100vh;
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.ant-typography kbd {
  color: black;
}
