@import '~antd/dist/antd.css';

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.logo {
  height: 32px;
  margin: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgba(255, 255, 255, 0.3); */
}
.logo span {
  font-size: 16px;
  font-weight: 600;
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
.site-layout-background-padding {
  padding: 24px;
}

.antd-example-spinner {
  height: 100vh;
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.ant-typography kbd {
  color: black;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.ant-row .covid-form-rate-title {
  padding: 10px 24px;
}

.p-15 {
  padding: 15px;
}
.covid-form-content-title {
  text-align: center;
}
.p-15 h3.ant-typography,
.ant-typography h3 {
  margin-bottom: 3rem;
}

.no-text-decoration {
  text-decoration: none;
}

.header-avatar-list {
  background-color: #87d068;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 40px;
}

.site-layout-background-footer {
  background-color: #f2faff;
  text-align: center;
}

.site-layout-content {
  margin: 24px;
  overflow: initial;
}

.delete-button-datalist {
  font-size: 16px;
}

.cursor-pointer {
  cursor: pointer;
}
